################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExceptionHandlingModule/.vs/ExceptionHandlingModule/v16/Server/sqlite3
/ExceptionHandlingModule/.vs/ExceptionHandlingModule/v16
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ParseString.pdb
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ParseString.dll
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.runtimeconfig.json
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.runtimeconfig.dev.json
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.pdb
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.exe
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.dll
/ExceptionHandlingModule/ExceptionHandlingModule/bin/Debug/netcoreapp3.1/ExceptionHandlingModule.deps.json
/ExceptionHandlingModule/ExceptionHandlingModule/obj/project.assets.json
/ExceptionHandlingModule/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.g.targets
/ExceptionHandlingModule/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.g.props
/ExceptionHandlingModule/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.dgspec.json
/ExceptionHandlingModule/ExceptionHandlingModule/obj/ExceptionHandlingModule.csproj.nuget.cache
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.pdb
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.exe
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.dll
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.csprojAssemblyReference.cache
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.csproj.FileListAbsolute.txt
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.csproj.CopyComplete
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.assets.cache
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.AssemblyInfoInputs.cache
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Debug/netcoreapp3.1/ExceptionHandlingModule.AssemblyInfo.cs
/ExceptionHandlingModule/ParseString/obj/project.assets.json
/ExceptionHandlingModule/ParseString/obj/ParseString.csproj.nuget.g.targets
/ExceptionHandlingModule/ParseString/obj/ParseString.csproj.nuget.g.props
/ExceptionHandlingModule/ParseString/obj/ParseString.csproj.nuget.dgspec.json
/ExceptionHandlingModule/ParseString/obj/ParseString.csproj.nuget.cache
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.pdb
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.dll
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.csprojAssemblyReference.cache
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.csproj.FileListAbsolute.txt
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.assets.cache
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.AssemblyInfoInputs.cache
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0/ParseString.AssemblyInfo.cs
/ExceptionHandlingModule/ParseString/obj/Debug/netstandard2.0
/ExceptionHandlingModule/ParseString/obj
/ExceptionHandlingModule/ParseString/bin/Debug/netstandard2.0/ParseString.pdb
/ExceptionHandlingModule/ParseString/bin/Debug/netstandard2.0/ParseString.dll
/ExceptionHandlingModule/ParseString/bin/Debug/netstandard2.0/ParseString.deps.json
/MethodsTask/MethodsTask/obj/Debug/netcoreapp3.1
/MethodsTask/MethodsTask/bin/Debug/netcoreapp3.1
/MethodsTask/MethodsTask/obj/Release/netcoreapp3.1
/MethodsTask/MethodsTask/obj
/MethodsTask/FileVisitorTests/obj
/.vs
/ExceptionHandlingModule/.vs/ExceptionHandlingModule/DesignTimeBuild
/ExceptionHandlingModule/ExceptionHandlingModule/obj/Release/netcoreapp3.1
/MethodsTask/.vs/MethodsTask
/MethodsTask/FileVisitorTests/bin/Debug/netcoreapp3.1
